body {
    background-color:rgb(20,0, 10) ;
}
.navbar-nav .nav-link:hover {
    font-weight: bold;
    color:#55c9ff;
}
.navbar-nav .nav-link {
    font-size: 20px;

}
.navbar-brand{
    font-size: 25px;
}
.navbar-dark{
    background-color: rgb(18,1,48);
}
.circular-image-container{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #d0cad4;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-image{
    width: 180%;
    height: auto;
    display: block;
}
.title{
    color: #55c9ff;
}
.name{
    color: beige;
}
.social_links{
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #000000;

    display: flex;
    justify-content: center;
    align-items: center;
}
.about_image{
    width: 200px;
    height: auto;
    display: block;
    
}
.jumbtron{
    background-color: #002244;
    padding: 20px;
    border-radius: 10px;
    
}
.display4{
    color: #eef3f8;
    font-size: 24px;
}
.lead{
    font-size: 18px;
    color: #28a745;
}
.form-container{
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}
